/*
Author: Elizabeth Shaw
Date: 09/21/2023
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #000;
}

img {
	max-width: 100%;
	display: block;
}

/* Style rules for header that begins on the top left*/
header {
	width: 25%;
	float: left;
}

/* Style rules for hamburger menu that begins at top right */
	.mobile-nav a {
		color: #fff;
		font-family: ‘Francois One’, sans-serif;
		text-align: center;
		font-size: 2em;
		text-decoration: none;
		padding: 3%;
		display: block;
	}
	
	.mobile-nav a.menu-icon {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}

/* Show mobile class, hide tablet-desktop class and menu-links id */ 
.mobile {
	display: block; 
}

.tablet-desktop #menu-links {
	display: none;
}

/* Style rules for main content area that begins below the header and navigation area*/
main {
	clear: left;
	background-color: #fff;
	padding: 2%;
	font-size: 1.25em;
	color: #FFFB00; 
	font-family: 'Young Serif', serif;
}

.tel-link {
	background-color: #404040;
	padding: 2%;
	margin: 0 auto;
	width: 80%;
	text-align: center;
	border-radius: 5px;
}

.tel-link a {
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	display: block;
}

.action {
	font-size:1.35em;
	color: #666600;
	font-weight: bold;
}


#importance, #colonies {
	margin: 0 2%;
}

.round {
	border-radius:8px;
}

#form {
	margin-top: 2%;
	background-color: #f2f2f2;
	padding: 2%;
}

#form h2 {
	text-align: center;
}

/* Style rules for form elements */
 fieldset, input, select, textarea {
	  margin-bottom: 2%;
	  margin-bottom: 2%;
 }
 
 fieldset legend {
	 font-weight: bold;
	 font-size: 1.25em;
 }
 
label {
	display: block;
	padding-top: 3%;
}

form #submit {
	margin: 0 auto;
	border: none;
	display: block;
	padding: 2%;
	background-color: #b3b3b3;
	font-size: 1em;
	border-radius: 10px;
}
	



/* Style rules for footer content that begins below main content*/
footer p {
	font-size: 0.75em;
	text-align: center;
	color: #FFFB00; 
	padding: 0 1em;
}

footer p a {
	color: #FFFB00; 
	text-decoration: none;
}

/*Mobile Viewport: Style rules for table */

table {
	border-collapse: collapse;
}
	
tr:nth-child(odd) {
	background-color: #000;
	color: #fff;
}
tr:nth-child(even) {
	background-color: #EDED37;
	color: #000;
}



/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
	
}

	/* Tablet Viewport: Show tablet-desktop class, hide mobile class */
	.tablet-desktop {
		display: block;
	}
	
	.mobile, .mobile-nav {
		display: none;
	}
	
	/* Tablet Viewport: Style rule for header */
	header {
		position: static;
		padding-bottom: 2%;
	}
	
	/* Tablet Viewport: Style rules for nav area */
	nav {
	padding: 1%;
	margin-bottom: 1%;
	}

	nav ul {
	list-style-type: none;
	text-align: center;
	}
	
	nav li {
		font-size: 1.5em;
		font-family: 'Oswald', sans-serif;
		display: inline-block;
		border-right: 1px solid #fff;
	}
	
	nav li:last-child {
		border-right: none;
	}
	
	 nav li a {
		padding: 0.1em 0.75em;
		display: block;
		color: #FFFB00; 
		text-align: center;
		text-decoration: none;
		background-color: #000;
		border-radius: 5px;
	 }
	 
	 /* Tablet Viewport: Style rules for main content area */
	 main ul {
		 margin: 0 0 4% 10%;
	 }
	 
	  .grid {
		 display: grid;
		 grid-template-columns: auto auto auto;
		 grid-gap: 20px;
	 }
	 
	 .pic-text {
		font-size: 1em;
		padding: 10px;
	 }
	 
	 aside {
		text-align: center;
		font-size: 1.25em;
		font-style: italic;
		font-weight: bold;
		padding: 2%;
		background-color: rgba(204, 204, 204, 0.5);
		box-shadow: 5px 5px 8px #000;
		text-shadow: 5px 5px 5px #b3b3b3;
		border-radius: 0 15px;
	 }
	 
	 .grid-item3 {
		  grid-column: 1 / span 2;
	 }
	 
	 
	 /*Style rule to move over the two unordered lists and keep from touching left side of about page, add a linear-gradient to each one, and make font bold. */
	 #importance, #colonies {
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		background: linear-gradient(to right, #000, #FFFB00);
		background-color: #f2f2f2;
		padding: 1% 2%;
		font-weight: bold;
		padding: 0.5% 1% 2% 0;
	 }


.tel-num {
	font-size: 1.25em;
}

/* Tablet Viewport: Style rules for table */
	table {
		border: 1px solid #000;
		border-collapse: collapse;
		margin: 0 auto;
		width: 100%;
	}
	
	caption {
		font-size: 1.5em;
		font-weight: bold;
		padding: 1%;
	}
	
	th, td {
		border: 1px solid #000;
		padding: 2%;
	}
	
	th {
		background-color: #000;
		color: #fff;
		font-size: 1.15em;
	}
	
	tr:nth-child(odd) {
		background-color: #ccc;
	}
	
	/* Tablet Viewport: Style rule for form element */
	form {
		 width: 70%;
		 margin: 0 auto;
	}
	
	table {
		width: 80%;
	}
	
	/* Tablet Viewport: Animation */
	@-webkit-keyframes text-animation {
		0% { font-size: 1em; }
		50% { font-size: 2em; }
		100% { font-size: 1.35em; }
	}
	
	@keyframes text-animation {
		0% { font-size: 1em; }
		50% { font-size: 2em; }
		100% { font-size: 1.35em; }
	}
	
		figcaption {
		-webkit-animation-name: text-animation;
		animation-name: text-animation;
		-webkit-animation-delay: 3s;
		animation-delay: 3s;
		-webkit-animation-duration: 5s;
		animation-duration: 5s;
	}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {
	
	/* Desktop Viewport: Style rule for header */
	header {
		width: 25%;
		float: left;
		padding-bottom: 0;
	}
	
	/* Desktop Viewport: Style rules for nav area */
	nav {
		float: right;
		width: 70%;
		margin: 4em 1em 0 0;
	}
	
	nav ul {
		 text-align: right;
	}
	
	nav li {
		border: none;
	}
	
	nav li a {
		padding: 0.5em 1em;
	}
	
	nav li a:hover {
		color: #000;
		background-color: #fff;
	}
	
	/* Desktop Viewport: Style Rules for main content */
	main {
		clear: left;
	}
	
	main h1 {
		font-size: 1.8em;
	}
	
	article h3 {
		 font-size: 1.75em;
	}
	
	.pic-text {
		 font-size: 1.5em;
		 padding: 20px;
	}
	
	.frame {
		opacity: 0.9;
	}
	
	.frame:hover {
		opacity: 1;
		box-shadow: 8px 8px 10px #808080;
	}
	
	/*Style rule to move the two unordered lists into a multi-column layout. */
	#importance, #colonies {
		width: 29%;
		float: left;
		margin: 0 2%;
	}
	
	/* Desktop Viewport: Style rules for form elements */
form {
	width: auto;
}

.form-grid {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 20px;
}

.btn {
	grid-column: 1 / span 3;
}
	
}
	
/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {
		 
	#container {
		width: 1920px;
		margin: 0 auto;
		}
}

/* Large Desktop Viewport: Style rule for table */
	table {
		width: 80%;
	}

/* Media Query for Print */
@media print {
	
}

body {
	 background-color: #fff;
	 color: #000;
}